params {
    input                  = null
    reference              = null
    genome_id              = null
    genomeID               = null
    site                   = 'none'
    site_file              = null
    ligation               = null
    readstr1               = '_R1'
    readstr2               = '_R2'
    ext                    = '.fastq.gz'
    mapq                   = 30
    outdir                 = "${launchDir}/results"
    output_dir             = null
    motif_dir              = null
    about                  = 'nextflow/juicer run'
    juicer_version         = '1.6'
    threads                = 16
    java_mem               = '64g'
    save_merged_nodups_bam = true
    nofrag                 = true
    justexact              = false
    resolutions            = '2500000,1000000,500000,250000,100000,50000,25000,10000,5000,2000,1000,500,200,100'
    conda_use_mamba        = true
    conda_cache_dir        = null
    singularity_cache_dir  = null
    hpc_queue              = 'workq'
    smallcpu_cpus          = null
    smallcpu_memory_gb     = null
    smallcpu_time          = null
    mediumcpu_cpus         = null
    mediumcpu_memory_gb    = null
    mediumcpu_time         = null
    highcpu_cpus           = null
    highcpu_memory_gb      = null
    highcpu_time           = null
    highmemory_cpus        = null
    highmemory_memory_gb   = null
    highmemory_time        = null
    gpu_cpus               = null
    gpu_memory_gb          = null
    gpu_time               = null
    gpu_cluster_options    = null
    use_gpu                = true

    skip_motif_finder      = false
}

params.ligation = {
    if (params.ligation) {
        return params.ligation
    }
    def ligationMap = [
        'hindiii': "AAGCTAGCTT",
        'dpnii': "GATCGATC",
        'mboi': "GATCGATC",
        'ncoi': "CCATGCATGG",
        'arima': "'(GAATAATC|GAATACTC|GAATAGTC|GAATATTC|GAATGATC|GACTAATC|GACTACTC|GACTAGTC|GACTATTC|GACTGATC|GAGTAATC|GAGTACTC|GAGTAGTC|GAGTATTC|GAGTGATC|GATCAATC|GATCACTC|GATCAGTC|GATCATTC|GATCGATC|GATTAATC|GATTACTC|GATTAGTC|GATTATTC|GATTGATC)'",
        'none': "XXXX",
    ]
    if (!params.site) {
        return ligationMap['none']
    }
    return ligationMap[params.site.toLowerCase()]
}.call()

profiles {

    pbs {
        includeConfig "${baseDir}/conf/base.config"
        includeConfig "${baseDir}/conf/pbs.config"
    }

    test {
        includeConfig "${baseDir}/conf/base.config"
        includeConfig "${baseDir}/conf/test.config"
    }

    conda {
        includeConfig "${baseDir}/conf/conda.config"
    }

    singularity {
        includeConfig "${baseDir}/conf/singularity.config"
    }
}
