profiles {
    standard {
        includeConfig "${baseDir}/conf/base.config"
    }

    hpc {
        includeConfig "${baseDir}/conf/base.config"
        includeConfig "${baseDir}/conf/hpc.config"
    }

    test {
        includeConfig "${baseDir}/conf/base.config"
        includeConfig "${baseDir}/conf/test.config"
    }

    conda {
        includeConfig "${baseDir}/conf/conda.config"
    }

    singularity {
        includeConfig "${baseDir}/conf/singularity.config"
    }
}
