includeConfig "${baseDir}/conf/base.config"
includeConfig "${baseDir}/conf/hpc.config"

params {

    juicer_version = "1.6"

    threads        = 24

    // fastq files should look like filename_R1_001.fastq and filename_R2_002.fastq
    // if your fastq files look different, change this value
    readstr1       = "_R1_001"
    readstr2       = "_R2_001"
    // fastq files extension
    // if your fastq files have a different extension, change this value
    ext            = ".fastq.gz"

    // Configuration for the Juicer pipeline

    // Description of the experiment
    about          = "<run_id>/<sample_id>"
    input_dir      = "/work/pinglese/scratch/${params.about}"
    output_dir     = "/work/pinglese/scratch/${params.about}"

    out            = "/work/pinglese/scratch/${params.about}/test_out"

    // Genome ID
    genomeID       = "mm10"
    // Genome assembly path
    refSeq         = "${baseDir}/references/Mus_musculus_assembly10.fasta"

    // Motif directory
    motif_dir      = "${baseDir}/references/genomewide_ctcf_motif_fimo"

    // Restriction site
    site           = "arima"
    // Restriction site file
    site_file      = "${baseDir}/restriction_sites/${params.genomeID}_${params.site}.txt"

    ligation       = {
        def map = [
            'hindiii': "AAGCTAGCTT",
            'dpnii': "GATCGATC",
            'mboi': "GATCGATC",
            'ncoi': "CCATGCATGG",
            'arima': "'(GAATAATC|GAATACTC|GAATAGTC|GAATATTC|GAATGATC|GACTAATC|GACTACTC|GACTAGTC|GACTATTC|GACTGATC|GAGTAATC|GAGTACTC|GAGTAGTC|GAGTATTC|GAGTGATC|GATCAATC|GATCACTC|GATCAGTC|GATCATTC|GATCGATC|GATTAATC|GATTACTC|GATTAGTC|GATTATTC|GATTGATC)'",
            'none': "XXXX",
        ]
        def lig = map[params.site?.toLowerCase()]
        if (!lig) {
            System.out.println("Warning: No ligation site found for ${params.site}. Defaulting to 'XXXX'.")
        }
        return lig ?: 'XXXX'
    }.call()

    // Do not include fragment delimited maps by default
    nofrag         = 1
    // Use wobble for dedupping by default (not just exact matches)
    justexact      = 0

    // Resolution of the Hi-C map
    resolutions    = '2500000,1000000,500000,250000,100000,50000,25000,10000,5000,2000,1000,500,200,100'
}


workDir = '/work/pinglese/scratch/<run_id>/<sample_id>/work'
report.overwrite = true
