includeConfig "${baseDir}/conf/process_resources.config"

process {
    beforeScript = "export PATH=${projectDir}/bin:\$PATH"

    withLabel: juicertools {
        container = 'docker://pinglese6022/juicer_tools:1.13.01'
    }

    withLabel: juicertools_1_22 {
        container = 'docker://pinglese6022/juicer_tools:1.22.01'
    }
}

executor {
    name = 'local'
}
