process {
    beforeScript = "export PATH=${projectDir}/bin:\$PATH"

    withLabel: 'hpc' {
        executor = 'local'
        cpus     = params.threads
        memory   = '64 GB'
        time     = '48h'
    }

    withLabel: 'gpu' {
        executor = 'local'
        cpus     = params.threads
        memory   = '64 GB'
        time     = '48h'
    }

    withLabel: 'samtools' {
        container = 'docker://staphb/samtools:1.22.1'
    }
}

executor {
    name = 'local'
}
