includeConfig "${baseDir}/conf/process_resources.config"

process {
    beforeScript = "export PATH=${projectDir}/bin:\$PATH"

    withLabel: 'hpc' {
        executor = 'local'
        cpus     = params.default_process_resources.cpus
        memory   = params.default_process_resources.memory
        time     = params.default_process_resources.time
    }

    withLabel: 'gpu' {
        executor = 'local'
        cpus     = params.gpu_process_resources.cpus
        memory   = params.gpu_process_resources.memory
        time     = params.gpu_process_resources.time
    }

    withLabel: 'samtools' {
        container = 'docker://staphb/samtools:1.22.1'
    }
}

executor {
    name = 'local'
}
