// Enable Nextflow Conda support. Combine with a workflow profile, e.g. `-profile standard,conda`.
conda {
    enabled  = true
    useMamba = params.conda_use_mamba == null ? true : params.conda_use_mamba
    cacheDir = params.conda_cache_dir ?: null
}

docker {
    enabled = false
}

singularity {
    enabled = false
}

process {
    withLabel: samtools {
        container = null
    }
}
