profiles {

    hpc {
        process {
            withLabel: hpc {
                executor = 'pbspro'
                queue    = 'workq'
                cpus     = 24
                memory   = '64 GB'
                time     = '48h'
                scratch  = true
            }
            withLabel: gpu {
                executor       = 'pbspro'
                queue          = 'workq'
                clusterOptions = '-l select=1:ncpus=24:ngpus=1'
                time           = '48h'
                scratch        = true
            }
        }
    }

    standard {
        process {
            withLabel: hpc {
                executor = 'local'
                cpus     = 24
                memory   = '64 GB'
                time     = '48h'
                scratch  = true
            }
            withLabel: gpu {
                executor = 'local'
                cpus     = 24
                memory   = '64 GB'
                time     = '48h'
                scratch  = true
            }
        }
    }
}
