process {
    withLabel: 'hpc' {
        executor = 'pbspro'
        queue    = 'workq'
        cpus     = params.threads
        memory   = '64 GB'
        time     = '48h'
        scratch  = true
    }

    withLabel: 'gpu' {
        executor       = 'pbspro'
        queue          = 'workq'
        cpus           = params.threads
        memory         = '64 GB'
        time           = '48h'
        scratch        = true
        clusterOptions = '-l select=1:ncpus=24:ngpus=1'
    }
}

executor {
    name = 'pbspro'
}
