includeConfig "${baseDir}/conf/process_resources.config"

process {
    withLabel: 'hpc' {
        executor = 'pbspro'
        queue    = 'workq'
        cpus     = params.default_process_resources.cpus
        memory   = params.default_process_resources.memory
        time     = params.default_process_resources.time
        scratch  = true
    }

    withLabel: 'gpu' {
        executor       = 'pbspro'
        queue          = 'workq'
        cpus           = params.gpu_process_resources.cpus
        memory         = params.gpu_process_resources.memory
        time           = params.gpu_process_resources.time
        scratch        = true
        clusterOptions = params.gpu_cluster_options ?: '-l select=1:ncpus=24:ngpus=1'
    }
}

executor {
    name = 'pbspro'
}
