process {
    withName: PICARD_FILTERSAMREADS {
        ext.args   = '--FILTER includeReadList --WRITE_READS_FILES false'
        ext.prefix = { "${meta.id}_final_dedup" }
        publishDir = [
            path: { "${params.outdir}/${meta.sample}/aligned" },
            mode: 'copy',
            overwrite: true,
        ]
    }

    withName: SAMTOOLS_MERGE {
        ext.prefix = { "${meta.id}_merged_sorted" }
        ext.args   = '-m 2G'
    }

    withName: BWA_MEM {
        ext.args  = { '-SP5M' }
        ext.args2 = { '--output-fmt sam' }
    }
}
