params {
    label_resources = [
        smallcpu: [
            cpus: (params.smallcpu_cpus ?: 2),
            memory: (params.smallcpu_memory_gb ? params.smallcpu_memory_gb.GB : 8.GB),
            time: (params.smallcpu_time ?: '12h'),
        ],
        mediumcpu: [
            cpus: (params.mediumcpu_cpus ?: 4),
            memory: (params.mediumcpu_memory_gb ? params.mediumcpu_memory_gb.GB : 32.GB),
            time: (params.mediumcpu_time ?: '36h'),
        ],
        highcpu: [
            cpus: (params.highcpu_cpus ?: (params.threads ? params.threads as Integer : 16)),
            memory: (params.highcpu_memory_gb ? params.highcpu_memory_gb.GB : 64.GB),
            time: (params.highcpu_time ?: '48h'),
        ],
        highmemory: [
            cpus: (params.highmemory_cpus ?: 8),
            memory: (params.highmemory_memory_gb ? params.highmemory_memory_gb.GB : 128.GB),
            time: (params.highmemory_time ?: '72h'),
        ],
        gpu: [
            cpus: (params.gpu_cpus ?: 8),
            memory: (params.gpu_memory_gb ? params.gpu_memory_gb.GB : 64.GB),
            time: (params.gpu_time ?: '48h'),
            clusterOptions: (params.gpu_cluster_options ?: '-l select=1:ncpus=24:ngpus=1'),
        ],
    ]
}

process {
    withLabel: smallcpu {
        cpus   = params.label_resources.smallcpu.cpus
        memory = params.label_resources.smallcpu.memory
        time   = params.label_resources.smallcpu.time
    }

    withLabel: mediumcpu {
        cpus   = params.label_resources.mediumcpu.cpus
        memory = params.label_resources.mediumcpu.memory
        time   = params.label_resources.mediumcpu.time
    }

    withLabel: highcpu {
        cpus   = params.label_resources.highcpu.cpus
        memory = params.label_resources.highcpu.memory
        time   = params.label_resources.highcpu.time
    }

    withLabel: highmemory {
        cpus   = params.label_resources.highmemory.cpus
        memory = params.label_resources.highmemory.memory
        time   = params.label_resources.highmemory.time
    }

    withLabel: gpu {
        cpus           = params.label_resources.gpu.cpus
        memory         = params.label_resources.gpu.memory
        time           = params.label_resources.gpu.time
        clusterOptions = params.label_resources.gpu.clusterOptions
    }
}
