params {
    input             = "${projectDir}/assets/test_samplesheet.csv"
    outdir            = "${projectDir}/results/test"
    genome_id         = "${projectDir}/assets/test.chrom.sizes"
    reference         = "${projectDir}/references/test_genome.fa"
    motif_dir         = null
    site              = 'hindiii'
    skip_motif_finder = true
}
