params {
    input                  = "assets/test_samplesheet.csv"
    outdir                 = "results/test"
    genome_id              = "assets/test.chrom.sizes"
    reference              = 'assets/W303_SGD_2015_JRIU00000000.fsa'
    motif_dir              = null
    site                   = 'hindiii'
    site_file              = "assets/yeast_HindIII_sites.txt"
    skip_motif_finder      = true
    resolutions            = '250000,100000,5000'
    mapq                   = 10
    save_merged_nodups_bam = true
}
