params {
    input             = "${projectDir}/assets/test_samplesheet.csv"
    outdir            = "${projectDir}/results/test"
    genome_id         = "${projectDir}/assets/test.chrom.sizes"
    motif_dir         = null
    site              = 'hindiii'
    site_file         = "${projectDir}/assets/yeast_HindIII_sites.txt"
    skip_motif_finder = true
    resolutions       = '250000,100000,5000'
    mapq              = 10
}
